.search {
  padding: 20px 0px 20px 0px;
}
.search-bar {
  display: block;
  margin: 0 auto;
  align-content: center;
  text-align: left;
  border: rgb(147, 58, 248) 2px solid;
  border-radius: 4px;
  background: rgba(119, 2, 155, 0.397);
}

.dictionary {
  font-size: 60px;
  color: hotpink;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}

.sub-title {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  color:rgb(147, 58, 248);
}

.github {
  font-size: 10px;
  text-align: center;
}