

section.word {
    background: rgba(147, 58, 248, 0.50);
    color: white;
    margin: 15px;
    border: 3px solid skyblue;
    padding: 6px;
    border-radius: 4px;
}

section.meaning {
    background: rgba(147, 58, 248, 0.50);
    color: white;
    margin: 15px 15px 0px 15px;
    border: 3px solid skyblue;
    padding: 6px;
    border-radius: 4px;
}

.definition {
    font-family: 'Arial Narrow', Arial, sans-serif;
    margin: 0 auto;
}

.example {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
    color: pink;
}

h1.word-result {
    font-family: 'Dancing Script', cursive;
    font-size: 75px;
    text-align: center;
    padding: 5px 0 5px 5px;
    display: inline;
}

h2 {
    font-size: 30px;
    font-family: 'Architects Daughter', cursive;
}
ul {
    font-family:Arial, Helvetica, sans-serif;
}

.phonetics,
.sound {
    display: inline;
}

.icon:hover {
background: rgb(0, 195, 255);
}